/*
* customer for citi survey
* Copyright 2014, Wiseperzy
* www.rabbitrewards.co.th
* 26/12/2017
*/

/* --- CUSTOM CSS --- */
/* Question custom */
li.box-q  {
  
    border:1px solid #ff8300 ;
    
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
   
    padding: 2%;
	padding-left:10px;
	padding-right:10px;
    background-color: #ff8300;
    text-align: left;
    

}
.box-q  {
  
    border:1px solid #ff8300 ;
    
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
   
    padding: 2%;
	padding-left:10px;
	padding-right:10px;
    background-color: #ff8300;
    text-align: left;
    

}

body{
    /*
    display: inline-block;*/
    margin:auto;
    
   
    
    background-size: contain;
    background-color: #fff;




}

label{
    color:#666666;
}

.background-notfound{
    display: inline-block;
    background-image: url('../images/rabbit_nottarget.png');
    background-size: contain;
    background-repeat: no-repeat;

}
.main-header{

    background-color:black; 

    overflow: inherit;
    height:70px;
    color:white;
    padding-left:15px;
    padding-right: 15px;
    box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
            0 5px 15px 0 rgba(0,0,0,0.08);
}
.head-left{
    float: left; 

    text-align: left;
    padding-top:14px;
    padding-left:0;
}
.head-right{
    float: right;

    text-align: right;   
    margin-top:15px;
    padding-right: 0;
}

.citi{

    min-width:100%;
    overflow: hidden;
    background: url('../images/bg-blueciti.png') repeat-x;
    background-size: contain;   
}
.citi-f{
    background-color:#003d7b;
    min-width:100%;

    background: url('../images/bg-blueciti-h.png') repeat-x;
    background-size: contain;  
    background-color:#003d7b;
}
.bg-normal{
    background: url('../images/bg-s.png') repeat-x;
}

.bg-citi{
    background: url('../images/bg-gradient-blue.png') repeat-x;
    background-size: contain;
}

.box-shadow{
    -webkit-box-shadow: inset 0px 0px 40px -2px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px 0px 40px -2px rgba(0,0,0,0.75);
box-shadow: inset 0px 0px 40px -2px rgba(0,0,0,0.75);
}

.bg-position-home{
    background-image: url("../images/survey/bg-index-f.jpg");
    background-repeat: no-repeat;
    background-position: center bottom;
}

.bg-regis{
    background-image: url("../images/survey/bg-flare.jpg") no-repeat;
    background-position: top center;
    background-size: inherit;
    background-repeat: no-repeat;
    
}
.button-primary-c{
    background-color:black; 
    color:#ff8300;  
    padding:7px; 
    border-radius: 30px; 
    width:160px; 
    font-size:1.2em; 
    line-height:1em; 
    margin:auto;
}
.button-primary-c:hover{
text-decoration: none;
}
a.btnc{
    
}
a.btnc:hover{
    text-decoration: none;
}

/* FORM STYLE */
/* The container */
.container-f {

  position: relative;
  padding-left: 23px;
  padding-bottom:5px;
  margin-bottom: 12px;
  cursor: pointer;
    padding-left:30px; 
    color:#fff;
   

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}



/* Hide the browser's default radio button */
.container-f input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  margin-top:3px;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container-f:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container-f input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container-f input:checked ~ .checkmark:after {
  display: block;
    
}

/* Style the indicator (dot/circle) */
.container-f .checkmark:after {
 	top: 5px;
	left: 5px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

/* checkbox */
/* Hide the browser's default checkbox */


/* Create a custom checkbox */
.checkmark-c {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  font-size:1.2em;
    border:1px solid #ccc;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container-f:hover input ~ .checkmark-c {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-f input:checked ~ .checkmark-c {
  background-color: #2196F3;
    border:1px solid #1d85d8;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark-c:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-f input:checked ~ .checkmark-c:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-f .checkmark-c:after {
  left: 10px;
  top: 6px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
ul.c-custom{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.c-custom li.c-orange{
    background-image: url(../images/icn-choice-orange.png);
    background-size: 17px 17px;
    background-repeat: no-repeat;
    background-position: 0 .14em;
    padding-left: 33px;
    line-height: 1.3em;
}

.banner-refinance{
    background-color:#000; 
    /*
    background-image: url("images/ptai-refinance.png");
    */
    
}

/*--------*/

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #f2f2f2;
    border:1px solid #cccccc;
  border-radius: 5px;
  width: 90%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
}
.popup .close-btn {
  transition: all 200ms;
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: #82bc00;
  border-radius: 5px;
  border: 1px solid #82bc00;
  cursor: pointer;  
  box-sizing: border-box;
}
.popup .close-btn:hover {
  color:#333;
  background-color: #7da804;
}
.popup .close-btn:active {
  color:#333;
  background-color: #7da804;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 95%;
  }
  .popup{
    width: 95%;
  }
}

.privilege-box{
    width:97%;
    margin: auto;
    padding:2% 5% 1% 5%;
    text-align: left;
    background-color: #f2f2f2;
    border-radius: 5px;
    margin-bottom: 10px;
}
.privilege-box ul{
    list-style:none;
    padding-left: 0;
    padding-top: 10px;
    
}
.privilege-box ul li{
    padding-left: 20px;
    line-height: 1.3em;
    margin-bottom:1%;
    padding-bottom: 0;
    background-image: url(../images/icn-checklist-black-green.png);
    background-size: 16px ;
    background-repeat: no-repeat;
    background-position: 0 .2em;
}

.loginBtn--facebook {
  width:95%;
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0),url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C;
    
}

.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}